/**
 * Created by Andrii Kniaziev on 9/27/2022.
 */

.THIS.header {
    display: flex;
    background-color: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}