/**
 * Created by Andrii Kniaziev on 9/30/2022.
 */

.THIS.container {
    display: flex;
    align-items: baseline;
}

.THIS.container > * {
    margin-left: 20px;
}

.THIS lightning-input {
    margin-top: auto;
}